<!doctype html>
<html lang="en">

</html>
{% extends 'crm/base.html' %} {% load crispy_forms_tags %} {% block title %}Forgot Password Reset{% endblock title %} {% block content %}
<h2>Reset Password</h2>
<form method="post">
    <label>Enter your new password </label><br> {% csrf_token %}
    <fieldset class="form-group">
        {{ form|crispy }}
    </fieldset>
    <div class="form-group">
        <button class="btn btn-success ml-2" type="submit">Reset Password</button>
    </div>
</form>
{% endblock content %}

</html>